.website__left{
    width:50%;
}

.web__image{
    width:550px;
    object-fit: contain;
}

.website__right {
    width: 50%;
}

.mobile__web__btn{
    position: relative;
}

.mobile__web__btn::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all ease-in .2s;
}

.mobile__web__btn:hover.mobile__web__btn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.mobile__web__btn__dark {
    position: relative;
}

.mobile__web__btn__dark::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all ease-in .2s;
}

.mobile__web__btn__dark:hover.mobile__web__btn__dark::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.whatsapp__btn:hover {
    border: 1px solid gray;
    transition: all ease-in .3s;
}

.web__services__wrapper{
    width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 10px;
}

.web__service__image{
    width:500px;
}

.dark__bg{
    background-color: #000;
}

@media screen and (max-width:830px){
    .website__hero{
        flex-direction: column-reverse;
    }

    .website__left {
        width: 100%;
    }

        /* .web__image {
            display: flex;
            align-self: center !important;
            width: 95%;
        } */

    .website__right {
        width: 100%;
    }
}