.mobile__left{
    width:50%;
}

.mobile__image{
    width:500px;
    object-fit: contain;
}

.mobile__right {
    width: 50%;
}

.mobile__web__btn{
    position: relative;
}

.mobile__web__btn::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all ease-in .2s;
}

.mobile__web__btn:hover.mobile__web__btn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.mobile__web__btn__dark {
    position: relative;
}

.mobile__web__btn__dark::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all ease-in .2s;
}

.mobile__web__btn__dark:hover.mobile__web__btn__dark::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.whatsapp__btn:hover {
    border: 1px solid gray;
    transition: all ease-in .3s;
}

.mobile__services__wrapper{
    width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        grid-gap: 10px;
}

.mobile__service__image{
    width:500px;
}

@media screen and (max-width:830px){
    .mobile__hero{
        flex-direction: column-reverse;
    }

    .mobile__right {
        width: 100%;
    }

    .mobile__left {
        width: 100%;
    }
}