@media screen and (max-width:600px){
.footer__wrapper{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

.footer__phone{
    margin-top: 10px;
}